@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);

/*
little asset
*/

ol, ul {
	list-style: none;
}

/*
Top Header
*/

.text-header{
    margin-left: -30px;
}
.text-p{
    margin-left: 110px;
    margin-top: -22px;
}

.top-navigation, .navigation{
	font-family: 'Raleway', sans-serif;
}
.top-navigation li{
	float:left;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
    padding:30px 0 0 0;
}
.top-navigation li a{
	display:inline-block;
	margin:0 10px;
	text-decoration:none;
}
.top-navigation li:after{
	content:"/";
}
.top-navigation li:last-child:after{
	content:""
}
.navigation{
    margin-left: 350px;
    margin-right: 350px;
    font-weight: bold;
}

.lfc-bg-image{
    margin-top: -60px;
}

.event-block {
    color: #d32626;
    margin-top: 5px;
}

#countdown-timer {
    font-family: 'Raleway';
    margin: auto;
}

.notice-bar-title-icon{
	display:inline-block;
	margin-right:15px;
}
.notice-bar-title .title-note{
	margin-top:4px;
}
.notice-bar-title strong{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px;
	display:block;
}
.notice-bar-event-title h5, .notice-bar-event-title,.notice-bar-event-title a, .section{
	margin-bottom:0;
    color: #d32626;
    font-family: 'Raleway', sans-serif;
}

#countdown-timer span {
    display: inline-block;
    width: 50px;
    padding: 10px 10px;
    margin: 5px;
    background: #d32626;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

/*Gallery section*/

.step1, .step2{
    margin: 15px;;
}